<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TKC" connectionString="Data Source=KHOANGUYEN;Initial Catalog=TKC;Persist Security Info=True;User ID=sa;Password=***********"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>


<!--ProjectGuid: {649af667-8e9d-4af8-9ddb-49835a4dc33f}-->